.fader {
    opacity: 0.25;
    transition: opacity 0.25s;

    &:hover {
        opacity: 1;
    }
}

.pulse {
    animation: pulse-opacity 0.75s alternate infinite;
}

custom-icon {
    &.spin > img {
        animation: spin 1s infinite;
    }

    &.r180 > img {
        transform: rotate(180deg);
    }

    &.r180 > img {
        transform: inherit;
    }

    &.end-animation > img {
        animation-iteration-count: 1;
    }
}

@keyframes spin {
	to {
    	transform: rotate(360deg);
    }
}

@keyframes flash-fade {
    to {
        opacity: 0;
    }
}

@keyframes pulse-success {
    to {
        box-shadow: 0 0 25px green;
    }
}

@keyframes pulse-fail {
    to {
        box-shadow: 0 0 25px red;
    }
}

@keyframes pulse-pending {
    to {
        box-shadow: 0 0 25px orange;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse-opacity {
    from {
        opacity: .25;
    }

    to {
        opacity: 1;
    }
}

// adapted from https://codepen.io/morewry/pen/gbJvy
@keyframes font-grow-and-fade-in {
    0% {
        font-size: 0;
        opacity: 0;
    }

    50% {
        font-size: 1em;
        opacity: 0;
    }

    100% {
        font-size: 1em;
        opacity: 1;
    }
}

@keyframes font-shrink-and-fade-out {
    0% {
        font-size: 1em;
        opacity: 1;
    }

    50% {
        font-size: 1em;
        opacity: 0;
    }

    100% {
        font-size: 0;
        opacity: 0;
    }
}