:root {
    --transition-duration: 0.5s;
    --heavy-blur: 8px;
    --hover-blur: 3px;
}

.spoiler-blocker-glamoured-active {
    cursor: no-drop;

    // must use animations for elements injected into the dom
    .spoiler-blocker-content-wrapper {
        transition-duration: var(--transition-duration);
        animation: blur var(--transition-duration) ease-in-out;
        // this is just a default
        // the real value is injected to the page
        filter: blur(var(--heavy-blur));

        // don't allow mouse events on obscured content
        & > * {
            pointer-events: none;
        }
    }

    .spoiler-blocker-spoiler-info {
        position: absolute;
        width: fit-content;
        transition-duration: var(--transition-duration);
        animation: fade-in var(--transition-duration) ease-in-out;

        padding: 0;
        margin: 0;

        // padding: 6pt 12pt;
        z-index: 1000;

        color: white;
        opacity: 1;

        font: 700 14pt verdana, arial, helvetica, sans-serif !important;
        text-shadow: 0 0 10px #000;
        text-stroke: 0.25px black;
        -webkit-text-stroke: 0.25px black;
    }

    &:hover {
        // also overridden with injected CSS
        .spoiler-blocker-content-wrapper {
            filter: blur(var(--hover-blur));
        }

        .spoiler-blocker-spoiler-info {
            filter: blur(var(--heavy-blur));
            opacity: 0;
        }
    }

    &.spoiler-blocker-no-fx {
        transition: initial !important;
        animation: initial !important;
        position: relative;

        .spoiler-blocker-spoiler-info {
            transition: none !important;
            animation: none !important;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
            background-color: black;
        }

        &:hover {
            filter: none !important;
            animation: none !important;
            transition: none !important;

            .spoiler-blocker-spoiler-info {
                opacity: initial !important;
                filter: initial !important;
            }
        }
    }
}

// can use normal transitions when revealing
.spoiler-blocker-glamoured-active.spoiler-blocker-revealed:not(.spoiler-blocker-no-fx) {
    pointer-events: none;

    .spoiler-blocker-content-wrapper {
        filter: none;
    }

    .spoiler-blocker-spoiler-info {
        opacity: 0;
        filter: blur(var(--heavy-blur));
    }
}

.spoiler-blocker-selector-preview {
    box-shadow: 0 0 25px #0066ff, inset 0 0 100vh 100vh #0066ff;
    animation: flash 1s infinite alternate;
    border-radius: 5px;

    *:not(#invalid) {
        animation: anti-flash 1s infinite alternate;
        background-color: transparent !important;
    }
}

// the target blur value is injected into the page
@keyframes blur {
    from {
        filter: inherit;
    }
}

@keyframes unblur {
    to {
        filter: unset;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: inherit;
    }
    to {
        opacity: 0;
    }
}

@keyframes flash {
    from {
        box-shadow: initial;
        border-radius: initial;
    }
}