$transition_duration: .5s;
$heavy_blur: blur(8px);
$hover_blur: blur(3px);

.content-wrapper {
    transition-duration: $transition_duration;
}

.glamoured-active {
    cursor: no-drop !important;
    animation: blur-out $transition_duration ease-in-out;
    filter: $heavy_blur;

    &:hover {
        filter: $hover_blur;
        transition-duration: $transition_duration
    }

    >* {
        pointer-events: none;
    }

    &.revealed {
        filter: none !important;
    }

    // black censor bar without animations
    &.no-fx {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: block;
            background-color: black;
        }

        &:hover {
            filter: none !important;
            animation: none !important;
            transition: none !important;
        }
    }
}

.glamoured .no-fx {
    transition: none !important;
    animation: none !important;
    filter: none !important;
}

.revealed {
    transition-duration: $transition_duration;
}

.glamoured {
    .spoiler-info {
        position: absolute;
        transition-duration: $transition_duration;
        animation: fade-in $transition_duration ease-in-out;

        padding: 6pt 12pt;
        margin: auto;
        z-index: 1000;

        color: white;
        opacity: 1;

        font: 700 14pt verdana, arial, helvetica, sans-serif;
        text-shadow: 0 0 10px #000;
        text-stroke: .25px black;
        -webkit-text-stroke: .25px black;

        pointer-events: none;

        &.revealed {
            // need to double the duration because we fade the opacity to 0
            // at 50% to prevent a pop when we change the z-index
            // animation: fade-out calc(2 * #{$transition_duration});
            animation: fade-out $transition_duration;
            opacity: 0 !important;
            z-index: -5 !important;
        }

        // unblur on info hover
        &:hover {
            +.content-wrapper {
                filter: $hover_blur;
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 1000;
    }

    50% {
        opacity: 0 !important;
        z-index: 1000;
    }

    90% {
        z-index: 1000;
    }

    100% {
        z-index: -5 !important;
    }
}

@keyframes blur-out {
    from {
        filter: blur(0);
    }
}

article {
    &.item {
        &.graphical .spoiler-glamour h3 {
            font-size: 24px !important;
            line-height: 24px !important;
            padding: 0;
            margin: 0;
        }

        &.tabular .spoiler-glamour h3 {
            font-size: 24px !important;
            line-height: 24px !important;
            padding: 0;
            margin: 0;
        }
    }

    &.short .spoiler-glamour.small h3 {
        margin: 0;
        font-size: 18px !important;
        line-height: 18px !important;
    }
}

.trend-item {
    .spoiler-glamour {
        width: 95%;
        padding: 3px 6px 1px;

        h3 {
            font-size: 11px !important;
            line-height: 11px !important;
            margin-top: 4px !important;
        }
    }

    .click-to-view-spoiler {
        font-size: 11px !important;
        line-height: 11px !important;
        margin-top: 4px !important;
    }
}

.comment-renderer-text {
    .spoiler-glamour {
        width: 95%;
        padding: 3px 6px 1px;

        h3 {
            font-size: 11px !important;
            line-height: 11px !important;
            margin-top: 4px !important;
        }
    }

    .click-to-view-spoiler {
        font-size: 11px !important;
        line-height: 11px !important;
        margin-top: 4px !important;
    }
}

.u0Entry.glamoured .spoiler-glamour {
    padding: 4px;

    .spoiler-obituary {
        vertical-align: top;
    }
}

#pagelet_trending_tags_and_topics ul>li {
    .spoiler-glamour {
        width: 95%;
        padding: 3px 6px 1px;

        h3 {
            font-size: 11px !important;
            line-height: 11px !important;
            margin-top: 4px !important;
        }
    }

    .click-to-view-spoiler {
        font-size: 11px !important;
        line-height: 11px !important;
        margin-top: 4px !important;
    }
}

#spoiler-console {
    position: absolute;
    top: 0;
    left: 0;
}